<html>
<head>
    <script type="text/javascript" src="static/js/vis-network.min.js"></script>

    <style type="text/css">
        #mynetwork {
            width: auto;
            height: auto;
            border: 1px solid lightgray;
        }
    </style>
</head>
<body>
<div id="mynetwork"></div>

<!--

assume we have input as follows:

Event Timestamp, FW_IP, FW_NAME, SrcIP, DstIP, FP_hop, FP_peers, 

## SESSION 1 - Client A to Server A ##
2019-12-12 10:00:01.000, 1.1.1.1, FW-1, 10.10.10.10, 20.20.20.20, fw1-p1, p1
2019-12-12 10:00:01.010, 2.1.1.1, FW-2, 10.10.10.10, 20.20.20.20, fw2-p1, p1
2019-12-12 10:00:01.030, 4.1.1.1, FW-4, 10.10.10.10, 20.20.20.20, fw4-p1, p1
2019-12-12 10:00:01.040, 8.1.1.1, FW-8, 10.10.10.10, 20.20.20.20, fw8-p1, p1

## SESSION 2 - Client B to Server B ##
2019-12-12 10:00:02.010, 2.1.1.1, FW-2, 11.11.11.11, 21.21.21.21, fw2-p2, p2
2019-12-12 10:00:02.020, 3.1.1.1, FW-3, 11.11.11.11, 21.21.21.21, fw3-p2, p2
2019-12-12 10:00:02.030, 5.1.1.1, FW-5, 11.11.11.11, 21.21.21.21, fw5-p2, p2
2019-12-12 10:00:02.040, 8.1.1.1, FW-8, 11.11.11.11, 21.21.21.21, fw8-p2, p2

## SESSION 3 - Client C to Server C ##
2019-12-12 10:00:03.000, 1.1.1.1, FW-1, 12.12.12.12, 22.22.22.22, fw1-p3, p3
2019-12-12 10:00:03.020, 6.1.1.1, FW-6, 12.12.12.12, 22.22.22.22, fw6-p3, p3
2019-12-12 10:00:03.030, 8.1.1.1, FW-8, 12.12.12.12, 22.22.22.22, fw8-p3, p3

## SESSION 4 - Client D to Server D ##
2019-12-12 10:00:04.010, 3.1.1.1, FW-3, 13.13.13.13, 23.23.23.23, fw2-p4, p4
2019-12-12 10:00:04.020, 7.1.1.1, FW-7, 13.13.13.13, 23.23.23.23, fw7-p4, p4
2019-12-12 10:00:04.030, 8.1.1.1, FW-8, 13.13.13.13, 23.23.23.23, fw8-p4, p4

-->

<script type="text/javascript">
    // create an array with nodes
    var nodes = new vis.DataSet([
        {id: 0010, color:'#cccccc', label: 'Client A'},
        {id: 0011, color:'#cccccc', label: 'Client B'},
        {id: 0012, color:'#cccccc', label: 'Client C'},
        {id: 0013, color:'#cccccc', label: 'Client D'},
        {id: 1001, shape:'box', label: 'NGFW-1'},
        {id: 1002, shape:'box', label: 'NGFW-2'},
        {id: 1003, shape:'box', label: 'NGFW-3'},
        {id: 1004, shape:'box', label: 'NGFW-4'},
        {id: 1005, shape:'box', label: 'NGFW-5'},
        {id: 1006, shape:'box', label: 'NGFW-6'},
        {id: 1007, shape:'box', label: 'NGFW-7'},
        {id: 1008, shape:'box', label: 'NGFW-8'},
        {id: 9020, color:'orange', label: 'Server A'},
        {id: 9021, color:'orange', label: 'Server B'},
        {id: 9022, color:'orange', label: 'Server C'},
        {id: 9023, color:'orange', label: 'Server D'}
    ]);

    // create an array with edges
    var edges = new vis.DataSet([
	// Session 1 (red path)
        {from: 0010, to: 1001, color:'red'},
        {from: 1001, to: 1002, color:'red'},
        {from: 1002, to: 1004, color:'red'},
        {from: 1004, to: 1008, color:'red'},
        {from: 1008, to: 9020, color:'red'},
	// Session 2 (green path)
        {from: 0011, to: 1002, color:'green'},
        {from: 1002, to: 1003, color:'green'},
        {from: 1003, to: 1005, color:'green'},
        {from: 1005, to: 1008, color:'green'},
        {from: 1008, to: 9021, color:'green'},
	// Session 3 (orange path)
        {from: 0012, to: 1001, color:'orange'},
        {from: 1001, to: 1006, color:'orange'},
        {from: 1006, to: 1008, color:'orange'},
        {from: 1008, to: 9022, color:'orange'},
	// Session 4 (blue path)
        {from: 0013, to: 1003, color:'blue'},
        {from: 1003, to: 1007, color:'blue'},
        {from: 1007, to: 1008, color:'blue'},
        {from: 1008, to: 9023, color:'blue'},
	// Session 5 (black path)
        {from: 0012, to: 1001, color:'black'},
        {from: 1001, to: 1006, color:'black'},
        {from: 1006, to: 1008, color:'black'},
        {from: 1008, to: 9021, color:'black'}
    ]);

    // create a network
    var container = document.getElementById('mynetwork');

    // provide the data in the vis format
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {
	nodes:{size:60}
    };

    // initialize your network!
    var network = new vis.Network(container, data, options);
</script>
</body>
</html>
