<title>zippy</title>
<link rel="stylesheet" media="screen" href="static/css/bootstrap.min.css">
<link rel="stylesheet" href="static/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="static/js/jquery.min.js"></script>
<script src="static/js/popper.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip({html: true}); 
});
</script>
<body>


<div class="container">	

<img src="static/logo_large_zipper.png" style="max-width: 50%;height: auto" alt="Responsive image">

<div class="accordion" id="accordionExample">

  <div class="card">

    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        <span class="btn btn-md btn-success">ZIPPY STATUS: UP</span>
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"> <!-- data-parent="#accordionExample">-->
      <div class="card-body">
	<div class="container">
        	<p><span class="btn btn-md btn-secondary">Zippy Variables</span></p>
		<p>hostIP: {{hostIP}}</p>
		<p>panIP: {{panIP}}</p>
		<p>apikey: {{apikey}}</p>
		<p>isFirewall: {{isFirewall}}</p>
		<p>vSys: {{vSys}}</p>
		<p>deviceGroup: {{deviceGroup}}</p>
	</div>
      </div>
    </div>

  </div>

</div>
</div>

</body>
